<div class="t-center padding" ng-show="repositories.length == 0 && rootScope.error == null && rootScope.webSocketStatus !== null">
    <ion-spinner></ion-spinner>
    <p>{{ rootScope.webSocketStatus }}</p>
</div>
<div class="t-center padding" ng-show="rootScope.error !== null">
    <p>{{ rootScope.error }}</p>
    <button class="button button-positive" ng-click="reloadWebsockets()"><i class="ion-icon ion-refresh"></i> Reload</button>
</div>
<div class="t-center padding" ng-show="!rootScope.isInitialized && rootScope.connectionOpenedButNoData">
    <p>Server has not sent any data...</p>
</div>
