<div id="waiting" class="padding t-center t-gray" ng-show="rootScope.isWaiting">
    <ion-spinner></ion-spinner>
</div>
<div class="t-center padding" ng-show="repositories.length == 0 && rootScope.error == null">
    <ion-spinner></ion-spinner>
    <p>Connecting...</p>
</div>
<div class="t-center padding" ng-show="rootScope.error !== null">
    <p>{{ rootScope.error }}</p>
    <button class="button button-positive" ng-click="reloadWebsockets()"><i class="ion-icon ion-refresh"></i> Reload</button>
</div>
