<ion-view title="{{ repository.name }}">
	<ion-content>
		<div class="item t-center" ng-show="!initialized">
			<ion-spinner></ion-spinner>
			<p>Connecting...</p>
		</div>
		<div id="lightning" ng-class="{ lightning: lightning }"></div>
		<div ng-show="initialized">
			<div class="list">
				<div class="item item-divider">
					Visuals
				</div>
				<ion-toggle ng-model="visuals.labels" ng-change="setLabels(visuals.labels)">Labels {{ labels }}</ion-toggle>
				<!--<div class="item">
					<button class="button button-outline button-small button-assertive button-block">Show {{ repository.issues }} issues</button>
				</div>-->
				<div class="item item-divider">
					Show activity for {{ activityThreshold | activityThresholdTime }} ago
				</div>
				<div class="item range range-positive flipH">
					<input type="range" min="1" max="168" step="1" ng-model="activityThreshold" on-release="setActivityThreshold(activityThreshold)">
				</div>
				<!--<div class="item item-divider">
				Rewind:
				<span ng-class="{ hide: rewindDays == 0 }">{{ rewindDays }} days ago</span>
				<span ng-class="{ hide: rewindDays != 0 }" class="pulsate realtime">Real-time</span>
			</div>
			<div class="item range range-positive flipH">
			<input type="range" min="0" max="100" ng-init="days = 0" ng-model="days" ng-change="rewindNumberOfDays(days)">
		</div>-->
		<div class="item item-divider">
			{{ repository.users.length }} Members
		</div>
		<div class="item item-avatar item-icon-right" ng-repeat="user in repository.users" ng-click="setUserActivity(user)">
			<img src="{{ user.image }}">
			<h3>{{ user.name }}</h3>
			<p>{{ user.mail }}</p>
			<a href="#"><i class="icon ion-ios-bolt"></i></a>
		</div>
	</div>
</div>
</ion-content>
</ion-view>
