<ion-view title="Settings">
	<ion-nav-bar>
		<ion-nav-back-button>
		Back
		</ion-nav-back-button>
	</ion-nav-bar>
	<ion-content>
		<form name="settingsform" ng-submit="settingsform.$valid && setWebsocketUrl(webSocketIP, webSocketPort)">
			<div class="list">
				<div class="item item-input-inset">
					<label class="item-input-wrapper">
						ws://
						<input type="text" placeholder="IP" ng-model="webSocketIP" ng-pattern="/\b(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\b/">
						:
						<input type="number" placeholder="Port" ng-model="webSocketPort">
					</label>
					<button class="button button-small button-positive" type="submit">
						Update
					</button>
				</div>
			</div>
			<div class="t-center t-gray t-small">
				<p>Created by GitSpace. Version 1.0</p>
			</div>
		</form>
	</ion-content>
</ion-view>
