<ion-view title="GitSpace">
	<ion-nav-buttons side="secondary">
		<button class="button button-icon icon ion-gear-a" ui-sref="app.settings">
		</button>
	</ion-nav-buttons>
	<ion-nav-buttons side="primary">
		<button class="button button-icon icon ion-plus" ng-class="{disabled: repositories.length == 0}" ng-click="repositories.length > 0 && openModal()">
		</button>
	</ion-nav-buttons>
	<ion-content>

		<div ng-include="'views/loading.html'"></div>

		<div class="list" ng-show="repositories.length > 0">
			<div class="item item-divider">
				Visuals
			</div>
			<ion-toggle ng-model="visuals.labels" ng-change="setLabels(visuals.labels)">Labels {{ labels }}</ion-toggle>
			<!--<div class="item">
			<button class="button button-outline button-small button-assertive button-block">Show {{ repository.issues }} issues</button>
		</div>-->
		<div class="item item-divider">
			Show activity for {{ activityThreshold | activityThresholdTime }} ago
		</div>
		<div class="item range range-positive flipH">
			<input type="range" min="1" max="168" step="1" ng-model="activityThreshold" on-release="setActivityThreshold(activityThreshold)">
		</div>
		<div class="list" id="choose-repository">
			<div class="item item-divider">
				Show details for repository
			</div>
			<div ng-repeat="repository in repositories" class="item repository" id="repo-{{ repository }}">
				<div class="padding" ng-click="activeRepository(repository)">
					<label>
						<span class="t-left">Repository</span>
						<span class="t-gray t-right">{{ repository.users.length }} members</span>
					</label>
					<h2 class="clearfix">{{ repository.name }}</h2>
				</div>
				<div ng-show="repository.show" class="actions">
					<label class="t-center">Actions</label>
					<div class="row">
						<div class="col col-50">
							<button class="button button-full button-positive" ng-click="zoomRepository(repository)">Zoom</button>
						</div>
						<div class="col col-50">
							<button class="button button-full button-assertive" ng-click="removeRepository(repository)">Remove</button>
						</div>
					</div>
					<div class="list users">
						<div class="item item-avatar" ng-repeat="user in repository.users" ng-click="setUserActivity(user)">
							<img src="{{ user.image }}">
							<h3>{{ user.name }}</h3>
							<p>{{ user.username }}</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>
