<ion-view title="GitSpace">
	<ion-nav-bar>
		<ion-nav-back-button class="button-clear">
			<i class="ion-arrow-left-c"></i> Back
		</ion-nav-back-button>
	</ion-nav-bar>
	<ion-content>

		<div>
			<div class="list" id="choose-repository">
				<div class="item item-divider">
					Show details for repository
				</div>
				<div class="item t-center" ng-show="repositories.length == 0">
					<ion-spinner></ion-spinner>
					<p>Connecting...</p>
				</div>
				<div ng-repeat="repository in repositories" class="item" ui-sref="app.repository({name: repository.name})" ng-click="zoomRepository(repository)">
					<label><span class="t-left">Repository</span> <span class="t-gray t-right">{{ repository.users.length }} members</label>
					<h2 class="clearfix">{{ repository.name }}</span></h2>
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>
